
.bg1{background-color:#343a40;

}
.jumbotron1{
	background:url(../img/langit.jpg);
	background-size :cover;

}
.jumbotron {
	background-color: #d6e4e7;
}


#project{
	background-color: #d6e4e7;
}
.btn2 {
	background-color:#6c757d;
}

footer {
	background-color: #d6e4e7;

	height:90px;;
}


